<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Quiz Template
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Quiz Template</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->

  <ion-slides pager="false" scrollbar="true" [options]="slideOpts">
    <ion-slide>
      <div class="slide-div">
        <h1>Países & Capitales</h1>
        <ion-icon routerLink="/quiz" name="play-circle"></ion-icon>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide-div">
        <h1>Países & Ciudades</h1>
        <ion-icon name="play-circle"></ion-icon>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide-div">
        <h1>Montañas</h1>
        <ion-icon name="play-circle"></ion-icon>
      </div>
    </ion-slide>
  </ion-slides>
  <div class="home-div">

  </div>

</ion-content>
