#game-options {
  width: 80%;
  height: 200px; 
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
}

#container {
  text-align: center;
  border: 1px solid white;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}